<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TodoApp</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/static/styles.ef1cc7869de4fad7f341.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="/static/runtime.2eab21920d91eeb24583.js"></script><script type="text/javascript" src="/static/polyfills.2f4a59095805af02bd79.js"></script><script type="text/javascript" src="/static/main.0046b1a2899f4df56f1c.js"></script></body>
</html>
